
      #########.
     ########",#:
   #########',##".
  ##'##'## .##',##.
   ## ## ## # ##",#.
    ## ## ## ## ##'
     ## ## ## :##
      ## ## ##."

version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:9.7.1

    working_directory: ~/monolite

    steps:
      - checkout

      - restore_cache:
          keys:
            - dependencies-cache-{{ checksum "package.json" }}

      - run: yarn

      - save_cache:
          key: dependencies-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

      - run: yarn test
